.pag{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.Imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
